.subscribe-btn {
    display: inline-block;
    width: 133px;
    height: 55px;
    background-color: $color-mint;
    font-weight: 700;
    color: $color-white;
    font-family: $font-base;
    text-transform: uppercase;
    transition: all .3s ease;

    @media (max-width: $laptop) {
        width: 146px;
        height: 37px;
    }

    &:hover {
        background-color: #87D2C4;
    }

    &:active {
        background-color: #5C958A;
    }
}

.learn-more-btn {
    display: inline-flex;
    box-sizing: border-box;
    width: 370px;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    color: $color-white;
    border: 4px solid $color-white;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    @media (max-width: $laptop) {
        width: 317px;
        height: 52px;
        font-size: 18px;
    }

    &:hover {
        color: #E4BE8D;
        background-color: $color-white;
    }

    &:active {
        border: 4px solid #E4BE8D;
    }
}