.about {
    &__text {
        text-align: center;
        margin: 35px 0 100px 0;
        line-height: 20px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 106px;

        &__item {
            position: relative;
            width: 370px;
            height: 338px;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(135deg, #F38281, #F4BF87, #95E1D3);
                opacity: 0;
                transform: translate(-15px, -15px);
                transition: opacity .5s ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            &:hover .overlay {
                opacity: 1;
                & img {
                    cursor: pointer;
                }
            }
        }

        &__item:first-child .about__items__item__img {
            width: 370px;
            height: 338px;
        }
    }
}