.about {
    &__text {
        text-align: center;
        margin: 35px 0 100px 0;
        line-height: 20px;
        @media (max-width: $laptop) {
            line-height: 16px;
            margin: 35px 0 90px 0;
        }
        @media (max-width: $tablet) {
            margin: 35px 0 70px 0;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 106px;

        @media (max-width: $laptop) {
            margin-bottom: 58px;
        }

        &__item {
            position: relative;
            width: 370px;
            height: 338px;
            @media (max-width: $laptop) {
                width: 320px;
                height: 282px;
            }
            @media (max-width: $tablet) {
                width: 230px;
                height: 220px;
            }
        
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .overlay { 
                transform: translate(-15px, -15px);
                flex-direction: column;
                text-transform: uppercase;
                letter-spacing: 1px;

                @media (max-width: $laptop) {
                    transform: translate(-7px, -7px);
                    a {
                        margin-top: 20px;
                    }
                    a img{
                        width: 26px;
                        height: 31px;
                    }

                    p {
                        font-size: 18px;
                        margin-top: 20px;
                    }
                }
            }

            &:hover .overlay {
                opacity: 1;
                & img {
                    cursor: pointer;
                }
            }
        }

        &__item:first-child .about__items__item__img {
            width: 370px;
            height: 338px;
            @media (max-width: $laptop) {
                width: 320px;
                height: 282px;
            }
            @media (max-width: $tablet) {
                width: 230px;
                height: 220px;
            }
        }
    }
}

.futures {
    background-color: $color-mint;
    color: $color-white;

    .container {
        display: flex;
        justify-content: center;
    }

    &__item {
        width: 100%;
        text-align: center;
        padding: 55px 0 60px 0;
        border-left: 1px solid $color-white;

        @media (max-width: $laptop) {
            padding: 29px 0 35px 0;
        }

        &:last-child {
            border-right: 1px solid $color-white;
        }

        &__num {
            display: inline-flex;
            font-size: 59px;
            font-weight: 700;
            @media (max-width: $laptop) {
                font-size: 45px;
            }

            & span {
                align-items: start;
            }
        }

        &__desc {
            margin-top: 5px;
            font-size: 23px;
            font-weight: 500;    
            @media (max-width: $laptop) {
                font-size: 18px;
            }
        }
    }
}