.reviews {
    background-color: $color-light;

    .swiper {

        .swiper-slide {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 42px 0;

            @media (max-width: $laptop) {
                padding: 28px 0 25px 0;

                .reviews__img {
                    img {
                        width: 115px;
                        height: 115px;
                    }
                }
            }

            @media (max-width: $tablet) {
                padding: 28px 0 20px 0;

                .reviews__img {
                    padding-left: 20px;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }

            .reviews__content {
                padding-top: 5px;

                @media (max-width: $laptop) {
                    padding-top: 0px;
                }
            }

            .reviews__text {
                font-size: 24px;
                color: #A9AFB1;
                width: 770px;
                font-weight: 450;
                font-style: italic;
                line-height: 28px;
                @media (max-width: $laptop) {
                    width: 650px;
                    font-size: 18px;
                    line-height: 22px;
                }

                @media (max-width: $tablet) {
                    font-size: 16px;
                    width: 500px;
                    line-height: 20px;
                }
            }

            .reviews__author {
                margin-top: 21px;
                display: flex;
                align-items: center;
                gap: 56px;
                @media (max-width: $laptop) {
                    gap: 38px;
                    margin-top: 18px;
                }
                @media (max-width: $tablet) {
                    gap: 30px;
                    margin-top: 10px;
                }

                .line {
                    width: 70px;
                    @media (max-width: $laptop) {
                        width: 47px;
                    }
                }

                p {
                    font-size: 30px;
                    font-family: $font-h2;
                    @media (max-width: $laptop) {
                        font-size: 24px;
                    }
                    @media (max-width: $tablet) {
                        font-size: 20px;
                    }
                }
            }
        }

        .swiper-button-prev, .swiper-button-next {
            color: $color-gray;
            height: 42px;
            width: 42px;
            @media (max-width: $laptop) {
                height: 25px;
                width: 29px;
            }
        }
    }
}

.reviews-second {
    background-color: $color-white;
}