.reviews {
    background-color: $color-light;

    .swiper {

        .swiper-slide {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 42px 0;

            .reviews__content {
                padding-top: 5px;
            }

            .reviews__text {
                font-size: 24px;
                color: #A9AFB1;
                width: 770px;
                font-weight: 450;
                font-style: italic;
                line-height: 28px;
            }

            .reviews__author {
                margin-top: 21px;
                display: flex;
                align-items: center;
                gap: 56px;

                .line {
                    width: 70px;
                }

                p {
                    font-size: 30px;
                    font-family: $font-h2;
                }
            }
        }

        .swiper-button-prev, .swiper-button-next {
            color: $color-gray;
            height: 42px;
            width: 42px;
            
        }
    }
}