.service {
    &__text {
        text-align: center;
        margin: 35px 0 80px 0;
        line-height: 20px;

        @media (max-width: $laptop) {
            margin: 35px 0 70px 0;
            line-height: 16px;
        }
        @media (max-width: $tablet) {
            margin: 35px 0 50px 0;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 114px;

        @media (max-width: $laptop) {
            margin-bottom: 87px;

            .service__img img {
                width: 486px;
                height: 407px;
            }
        }

        @media (max-width: $tablet) {
            margin-bottom: 60px;

            .service__img img {
                width: 300px;
                height: 370px;
                object-fit: cover;
            }
        }
    }
}

.accordion {
    width: 570px;
    overflow: hidden;

    @media (max-width: $laptop) {
        width: 486px;
    }
    @media (max-width: $tablet)  {
        width: 400px;
    }

    .accordion-item {
        border: 1px solid #e0e0e0;
        border-bottom: unset;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: unset;
        }

        .accordion-header {
            display: flex;
            align-items: center;
            width: 100%;
            height: 92px;
            cursor: pointer;
            font-weight: 700;
            font-size: 24px;
            border-bottom: 1px solid #e0e0e0;
            text-transform: uppercase;
            padding: 0 20px;

            @media (max-width: $laptop) {
                font-size: 18px;
                height: 72px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            @media (max-width: $tablet) {
                padding: 0 10px;
                font-size: 16px;
                height: 65px;
            }

            &:focus {
                outline: none;
            }

            .title {
                margin-left: 40px;
                @media (max-width: $laptop) {
                    margin-left: 30px;
                }
            }

            .arrow {
                transition: transform 0.3s;
                margin-left: auto; 
                @media (max-width: $laptop) {
                    width: 24px;
                    height: 14px;
                }
            }
        }

        .accordion-content {
            line-height: 20px;
            box-sizing: border-box;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            margin-bottom: 10px;
            
            .accordion__text {
                padding: 15px 40px 0 20px;
                @media (max-width: $tablet) {
                    padding: 7px 40px 0 20px;
                }
            }

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-track {
                background: $color-bg;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-mint;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }
        }       

        &.open {
            border-bottom: 1px solid #e0e0e0;

            .accordion-header .arrow {
                transform: rotate(-180deg);
            }
            .accordion-content {
                max-height: 153px;
                overflow-y: auto;

                @media (max-width: $laptop) {
                    max-height: 139px;
                }

                @media (max-width: $tablet) {
                    max-height: 122px;
                }
            }
        }
    }
}