// colors
$color-brand: #F38281;      
$color-brand-light: #F9EFCF; 
$color-brand-secondary: #F4BF87; 

$color-mint: #95E1D3;       
$color-text: #2D3033;     
$color-light: #F8F8F8;    
$color-gray: #C6CBCD;       
$color-bg: #F5F5F5;   
$color-black: #000000;  
$color-white: #ffffff;    

// fonts
$font-base: 'Raleway', sans-serif;
$font-h1: "Montserrat", sans-serif;
$font-h2: "Kaushan Script", cursive;