.footer {
    background-color: $color-light;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 80px 0 42px 0;
        border-bottom: 1px solid $color-gray;
    }


    &__left {
        width: 370px;
        margin-top: 10px;
    }

    &__text {
        color: $color-gray;
        line-height: 22px;
        margin: 35px 0 30px 0;
    }

    &__followers {
        font-size: 17px;
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 10px;

        .num {
            font-size: 35px;
            font-weight: 700;
            font-style: normal;
        }
        
        .k {
            font-size: 17px;
            font-style: normal;
        }
    }

    &__line {
        width: 370px;
        border-bottom: 1px solid $color-gray;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 11px;

        span {
            font-size: 13px;
            font-style: italic;
            color: $color-gray;
        }

        &__wrapper {
            display: flex;
            gap: 15px;

            a {
                display: flex;
                img {
                    align-self: center;
                }
            }
        }
    }

    form {
        display: flex;
        margin-top: 46px;

        input {
            display: block;
            background-color: $color-white;
            width: 237px;
            height: 55px;
            border: 1px solid $color-gray;
            border-right: none;
            padding: 20px;

            &::placeholder {
                color: $color-gray;
                font-size: 18px;
                font-family: $font-base;
                text-align: center;
            }
        }

        button {
            margin-left: auto;
        }
    }


    &__center {
        width: 470px;
    }

    &__items {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item {
        display: flex;
        gap: 30px;

        &__content {
            width: 230px;

            p:first-child {
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                margin-top: 3px;
            }

            p:last-child {
                font-size: 13px;
                margin-top: 10px;
            }
        }
    }



    &__right {
        width: 270px;

        a {
            font-size: 13px;
            text-transform: uppercase;
            text-decoration: underline;

            &:hover {
                color: #6f7377;
            }
        }
    }

    &__photos {
        margin: 33px 0 20px 0;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }


    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

}